{% extends "base.html" %}
{% block content %}
<div class="mt-2 p-1 bg-danger text-white rounded">
    <h5>จัดการข้อมูลประเภทยา</h5>
  </div>
<div class="container-fluid my-3 justify-content-center align-items-center shadow rounded">
<table class="table table-responsive">
    <thead>
        <tr>
            <th><div class="cold-block d-sm-none">
              No.
            </div><div class="col d-none d-sm-block">
              ลำดับ
            </div></th>
            <th>ชื่อประเภทยา</th>
            <th>เครื่องมือ</th>
        </tr>
    </thead>
    <tbody>
      {% for i in type  %}
        <tr>
            <td>{{i.type_id}}</td> 
            <td>{{i.type_name}}</td>
            <td><a href="edit_type/{{i.type_id}}">แก้ไข</a></td>
            <td><a href="delete_type/{{i.type_id}}">ลบ</a></td>
        </tr>
        {% endfor %}
    </tbody>
</div>
{% endblock  %}